
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 5, 5);
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.caixa-login{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 9px;
    width: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    margin-top: 0;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius:4px ;
}

.link-esqueci{
    display: block;
    text-align: right;
    margin: 10px 0;
    font-size: 12px;
    color: #0066CC;
    text-decoration: none;
}

.link-esqueci:hover{
    text-decoration: underline;

}

button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

.btn-menu{
    display: block;
    text-align: center;
    background-color: #007bff;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
}

.btn-menu:hover{
    background-color: #0056b3;
}

.foto-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info-usuario p{
    font-size: 14px;
    margin: 8px 0;
    color: black;
}

.info-usuario a{
    color:#007bff ;
    text-decoration: none;
}

.info-usuario a:hover{
    text-decoration: underline;
}

body.modo-escuro{
    background-color: cornflowerblue;
    color: aliceblue;
}

body.modo-escuro.caixa-login{
    background-color: cornflowerblue;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
}

body.modo-escuro h2,
body.modo-escuro p,
body.modo-escuro label{
    color:cornflowerblue;
}

body.fonte-grande{
    font-size: 18px;
}

body.fonte-grande h2{
    font-size: 18px;
}

body.fonte-grande p,
body.fonte-grande label,
body.fonte-grande.btn-menu,
body.fonte-grande button{
    font-size: 18px;
}
